<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mybadtweets</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/tweets.css">

</head>
<body>
  <header>
    <div class='title'>
      <h1><a href='/'>mybadtweets™</a></h1>
    </div>
    <!-- <span class='menu'>
      <button class='settings'>settings</button>
      <% if (user) {%>
      <a class='logout' onclick='window.location.href = "auth/logout"'>logout</a>
      <% } %>
    </span> -->
  </header>
  <div class='container'>
    <!-- <h3>now displaying twitter user <%= user.username%>'s SHITTIEST tweets!</h3> -->
    <h3>now displaying your SHITTIEST tweets!</h3>
    <div class='card-wrapper'>
      <% tweets.forEach(tweet => { %>
      <% let date = tweet.created_at.split(' '); %>
      <% let plurality = tweet.favorite_count === 1 ? 'like' : 'likes'; %>
      <div class='card'>
        <div class='tweet'>
          <p>on <%= date[1].toLowerCase() %> <%= date[2] %>, <%= date[5] %> you tweeted:</p>
          <a class='tweet-text' href='https://twitter.com/<%= user.username %>/status/<%= tweet.id_str %>' target='_blank'>"<%= tweet.full_text %>"</a>
          <p>and it received <%= tweet.favorite_count %> <%= plurality %>!</p>
          <br>
          <p><em>hit or miss, i guess they never hit huh?</em></p>
          <a class='page prev'> < </a>
          <a class='page next'> > </a>
        </div>
        <div class='panel'>
          <!-- <p>wow, that really should've stayed in the drafts!</p> -->
          <div class='buttoncontainer' data-tweetid='<%= tweet.id_str %>'>
            <a class='delete button'>DELETE IT!</a>
            <a class='retweet button'>BUMP IT!</a>
          </div>
        </div>
      </div>
      <% }); %>
      <div class='progress'>
        1 / 3
      </div>
    </div>
  </div>
  <footer>
    <!-- <p>about / settings / logout</p> -->
    <span class='about'>ABOUT</span>
    <!-- <span> / </span>
    <span class='settings'>settings</span> -->
    <!-- <% if (user) { %>  -->
    <span> / </span>
    <span><a href='/auth/logout'>LOGOUT</a></span>
    <!-- <% } %> -->
  </footer>
  <div class='modal-bg confirm-modal'>
    <div class='confirm modal-box'>
    <span class='close' onclick='document.querySelector(".confirm-modal").style.display = "none"'>x</span>
    <h4><em>are you sure?</em></h4>
    <br>
    <div class='buttoncontainer'>
      <a class='yes'>YES</a>
      <a class='no'>NO</a>
    </div>
    </div>
  </div>
  <div class='modal-bg about-modal'>
    <div class='about-box modal-box'>
      <span class='close' onclick='document.querySelector(".about-modal").style.display = "none"'>x</span>
      <h6>how are bad tweets determined</h6>
      <p>mybadtweets fetches all your original tweets from your 3200 most recent ones per the limitation set by the twitter api. of the likes you've gotten on those, it calculates the average and the standard deviation. it then gets the like threshold of the tweets it'll display by subtracting the latter from the former. this is under the assumption that your likes fall into a normal disribution.</p>
      <h6>why though</h6>
      <p>this was made purely for lighthearted self-deprecation purposes</p>
      <h6>who did this</h6>
      <p>mybadtweets was made by juno tesoro as a school project. you can find them on github and twitter</p>
      <br>
    </div>
  </div>
  <script src='scripts/button-press.js'></script>
  <!-- <script src='scripts/delete.js'></script>
  <script src='scripts/retweet.js'></script> -->
  <!-- <script src='scripts/slides.js'></script> -->
  <script src='scripts/tweets.js'></script>
  <script src='scripts/about.js'></script>
  <!-- <script src='./static/scripts/title.js'></script> -->
</body>
</html>
